<header class="header__container">
  <div class="header__inner">
    <a [routerLink]="['/']" class="header__logo">
      <app-logo />
    </a>

    <nav class="header__nav">
      <ul>
        <li>
          <a
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (mouseenter)="prefetchHome()"
          >
            INICIO
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/projects']"
            routerLinkActive="active"
            (mouseenter)="prefetchProjects()"
          >
            PROYECTOS
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/skills']"
            routerLinkActive="active"
            (mouseenter)="prefetchSkills()"
            >HABILIDADES</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/educations']"
            routerLinkActive="active"
            (mouseenter)="prefetchEducations()"
          >
            EDUCACIÓN
          </a>
        </li>
      </ul>
    </nav>

    <div class="header__cta"></div>
  </div>
</header>
