<section class="hero__container">
  <article class="hero__text--container">
    <div class="hero__text">
      <div class="hero__text--title">
        <h1>{{ "home.hero.title" | transloco }}</h1>
        <h2>{{ "home.hero.subtitle" | transloco }}</h2>
      </div>

      <h3>{{ "home.hero.description" | transloco }}</h3>
    </div>

    <div class="hero__buttons">
      <button class="hero__button--primary" [routerLink]="['/projects']">
        <lucide-angular [img]="Eye" class="my-icon"></lucide-angular>
        {{ "home.hero.cta" | transloco }}
      </button>

      <a
        class="hero__button--secondary"
        [href]="homeQuery.data()?.data?.resume"
        target="_blank"
        rel="noopener noreferrer"
      >
        <lucide-angular [img]="Download" class="my-icon"></lucide-angular>
        {{ "home.hero.cv" | transloco }}
      </a>
    </div>
  </article>

  <div class="hero__skills">
    <app-carousel-skills />
  </div>
</section>
